<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-removebg-preview.png">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>      
#main_con{
    display: flex;  gap: 0px;
}
#con1{
    background-color: white; margin-top: -7px; margin-left: -5px;
    width: 242px;  height: 700px; position: fixed;
}
#img11{
    height: 50px; width: 47px; border-radius: 50%; 
    margin-top: 5px;  margin-left: 25px;
}
#testi{
    color: black; font-weight: 700; font-size: small;
    margin-left: 80px; margin-top: -45px;
}
#ac{
    font-weight: 500; font-size: small; color: rgba(170, 170, 170, 0.92);
    margin-left: 75px; margin-top: -30px;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style-type: none;
}
#img2{
    height: 20px; width: 22px;
    margin-left: 70px; margin-bottom: -3px;
}
/* #pro{
    background-color: whitesmoke;
} */
#img3{
    height: 18px; width: 20px;
    margin-left: 85px; margin-bottom: -2px;
}
#img4{
    height: 17px; width: 22px;
    margin-left: 65px; 
}
#img6{
    height: 23px; width: 23px;
    margin-left: 98px; margin-bottom: -6px;
}  
#sub{
    color: rgb(32, 32, 59);
     font-weight: bold; font-size: 16px;
}
#mit{
    height: 35px; width: 200px; margin-top: -15px;
    border-radius: 5px; margin-right: -10px;
}
li a{
    text-decoration: none; color: black;
    width: 100px;
}
li:hover{
    color: rgb(32, 32, 59);
    background-color: whitesmoke; 
}
#mit:hover{
    background-color: rgba(255, 183, 1, 0.603);
}
#prof{
    background-color: whitesmoke;
}
#con2{
    background-color: white;   margin-left: 250px;
    width: 900px;  height: 530px; border-radius: 7px;
}
#img7{
    height: 170px; width: 133px; 
    padding-top: 25px; padding-left: 30px;
    margin-bottom: 20px;
}
#frs{
    display: flex;
}
#welc{
    font-size: 30px;  font-weight: 600;
    margin-left: 28px;  padding-top: 60px;
}
#fn{
    display: flex;
}
#fn1{
    padding-left: 40px;  margin-top: 3px;
    font-size: 15px; font-weight: 600;
}
#fn2{
    margin-left: 70px; font-weight: 500;
    font-size: 13px;   margin-top: 3px;
}
#ln{
    display: flex;
}
#ln1{
    padding-left: 40px;  margin-top: 3px;
    font-size: 15px; font-weight: 600;
}
#ln2{
    margin-left: 70px; font-weight: 500;
    font-size: 13px;   margin-top: 3px;
}
#emal{
    display: flex;
}
#emal1{
    padding-left: 40px;  margin-top: 3px;
    font-size: 15px; font-weight: 600;
}
#emal2{
    margin-left: 108px; font-weight: 500;
    font-size: 13px;   margin-top: 3px;
}
#nick{
    display: flex;
}
#nick1{
    padding-left: 40px;  margin-top: 3px;
    font-size: 15px; font-weight: 600;
}
#nick2{
    margin-left: 70px; font-weight: 500;
    font-size: 13px;   margin-top: 3px;
}
#rel{
    display: flex;
}
#rel1{
    padding-left: 40px;  margin-top: 3px;
    font-size: 15px; font-weight: 600;
}
#rel2{
    margin-left: 91px; font-weight: 500;
    font-size: 13px;   margin-top: 3px;
}
.footer{
    color:  rgb(32, 32, 59);  height: 21px;
    background-color: whitesmoke;  padding-left: 12px;
    margin-top: 65px;  margin-left: 5px;
    margin-right: 5px;  font-weight: 500;
}
.myprofile{
    width: fit-content;
    height: fit-content;
    background: #fff;
    padding: 8px;
}
    </style>
</head>
<body>
    <div class="header">
        <img src="/images/logo-removebg-preview.png" alt="" id="img0"><h2 id="namie">Tomi's Kitchen</h2>
     </div>
     <div class="menu-bar">
        <p style="margin-top: 17px;"><img src="<%=image%>" alt="" id="img11"><h3 id="testi">Adebayo Testimony</h3></p><br><br>
      <a href="/admin/dashboard"><i class="fa fa-fw fa-dashboard" aria-hidden="true"></i>Dashboard</a><br><br><br>
      <a href="/admin/profile"><i class="fa fa-fw fa-user" aria-hidden="true"></i>My Profile</a><br><br><br>
      <a href="/admin/manage_bookings" id="books"><i class="fa fa-fw fa-table" aria-hidden="true"></i>Manage Bookings</a><br><br><br>
      <a href="/admin/manage_tables" id="books"><i class="fa fa-fw fa-table" aria-hidden="true"></i>Manage Tables</a><br><br><br>
      <a href="/admin/new_booking"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>Submit New Booking</a><br><br><br>
      <a href="/admin/change_password"><i class="fa fa-fw fa-lock"></i>Change Password</a><br><br><br>
      <a href="/logout" id="logout"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>Logout</a><br><br><br>
 </div>
<div class="main-content">
    <div class="myprofile">
<img src="<%=image%>" alt="" id="img7">
<h1 id="welc">Welcome, <%=username%></h1>
<hr style="opacity: 28%;">

    <div id="fn">
<p id="fn1">First Name:</p>
<p id="fn2"><%=admin[0].firstname%></p>
    </div>

    <div id="ln">
<p id="ln1">Last Name:</p>
<p id="ln2"><%=admin[0].lastname%></p>
    </div>

    <div id="emal">
<p id="emal1">Email:</p>
<p id="emal2"><%=admin[0].email%></p>
    </div>    
   
    <div id="nick">
<p id="nick1">Nick Name:</p>
<p id="nick2"><%=admin[0].nickname%></p>
    </div>
    
<div id="rel">
    <p id="rel1">Religion:</p>
    <p id="rel2"><%=admin[0].religion%></p>
</div>

</div>
</div>
<div class="footer">
    <footer>
        2024 &copy;</span>
     Tomi's Kitchen </footer>
    </div>
</div>
</body>
</html>